.vscode
build
deprecated
lib/testing_trusted_setups.txt
node_modules
package
test
.eslintignore
.eslintrc.js
.gitignore
.mocharc.yml
.npmignore
.prettierignore
.prettierrc.json
binding.dev.gyp
*.o
*.a
*.tgz