[package]
name = "c-kzg"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["mainnet-spec"]
mainnet-spec = []
minimal-spec = []

[dependencies]
libc = "0.2"
hex = "0.4.2"

[dev-dependencies]
rand = "0.8.5"
serde_json = "1.0.89"
