# This is a manifest for the Python bindings
include bindings/python/ckzg.c
include bindings/python/README.md
include bindings/python/setup.py
recursive-include blst *
recursive-include lib *
recursive-include inc *
recursive-include src *
include LICENSE
include README.md
