name: C
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash
    working-directory: src

jobs:
  tests:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      # Checkout repository and blst submodule.
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive

      # Check formatting.
      # Only need to check this once.
      - name: Run clang-format
        if: matrix.os == 'ubuntu-latest'
        uses: jidicula/clang-format-action@6cd220de46c89139a0365edae93eee8eb30ca8fe # v4.16.0
        with:
          clang-format-version: '20'
          check-path: 'src'
          exclude-regex: 'tinytest.h'

      # Check param formatting.
      # Only need to check this once.
      - name: Check param formatting
        if: matrix.os == 'ubuntu-latest'
        run: |
          python3 ../scripts/format_c_params.py
          git diff --exit-code

      # Run tests.
      - name: Test
        run: make test

      # Run sanitizers.
      # Doesn't work on Windows.
      - name: Clang Sanitizers
        if: matrix.os != 'windows-latest'
        run: make sanitize

      # Run static analyzer.
      # Doesn't work on Windows.
      - name: Clang Static Analyzer
        if: matrix.os != 'windows-latest'
        run: make analyze

      # Install LLVM for coverage report.
      # Already installed on macOS.
      # Doesn't work on Windows.
      - name: Install LLVM
        if: matrix.os == 'ubuntu-latest'
        uses: egor-tensin/setup-clang@471a6f8ef1d449dba8e1a51780e7f943572a3f99 # v2.1

      # Generate the coverage report.
      # Doesn't work on Windows.
      - name: Generate coverage report
        if: matrix.os != 'windows-latest'
        run: make coverage

      # Upload the coverage report.
      # Didn't generate it for Windows.
      - name: Save coverage report
        if: matrix.os != 'windows-latest'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: coverage-${{ matrix.os }}
          path: src/coverage.html
