name: NodeJS
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node:
          - 16
          - 18
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Setup Node.js ${{matrix.node}}
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node}}
      - name: Install setuptools
        run: python3 -m pip install setuptools
      - name: Check formatting
        if: matrix.os == 'ubuntu-latest'
        working-directory: bindings/node.js
        run: make format
      - name: Build/test bindings
        working-directory: bindings/node.js
        run: make build test bundle
      - name: Install distribution
        working-directory: bindings/node.js/dist
        run: npm install
