name: Python Package

on:
  release:
    types:
      - published
    branches:
      - main
  # Allows us run the action manually.
  workflow_dispatch:

jobs:
  build-wheels:
    name: Build wheels for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-13 # x86_64
          - macos-14 # aarch64

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: recursive

      # On Linux, use QEMU to build multiple platforms.
      - name: Setup QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
        with:
          platforms: all

      # Need this for macos-14, which doesn't come with python for some reason.
      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.10'

      # Need this to get cl.exe on the path.
      - name: Set up Visual Studio shell
        if: runner.os == 'Windows'
        uses: egor-tensin/vs-shell@9a932a62d05192eae18ca370155cf877eecc2202 # v2.1

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:

          # We have QEMU setup and can build everything.
          CIBW_ARCHS_LINUX: x86_64 i686 aarch64
          # For some reason these don't use the same distro.
          # musllinux uses apk & manylinux uses yum.
          CIBW_BEFORE_BUILD_LINUX: |
            if command -v apk > /dev/null; then
              apk add --update clang && make -C src blst
            elif command -v yum > /dev/null; then
              yum install -y clang && make -C src blst
            fi

          # Building x86 (32-bit) package is difficult.
          # We're missing the 32-bit Python library.
          CIBW_ARCHS_WINDOWS: AMD64
          # We need blst.lib (via MSVC) which our Makefile doesn't support.
          CIBW_BEFORE_BUILD_WINDOWS: |
            cd blst && build.bat && cp blst.lib ../lib && cp bindings/*.h ../inc

          CIBW_BEFORE_BUILD_MACOS: |
            make -C src blst

      - name: Upload wheels as artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: wheels-${{ matrix.os }}
          path: wheelhouse/*

  # Build the source distribution under Linux
  build-sdist:
    name: Source distribution
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.10'

      - name: Build source distribution
        run: python setup.py sdist

      - name: Store artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          path: dist/*.tar.gz
          name: sdist


  publish:
    needs: [build-wheels, build-sdist]
    runs-on: ubuntu-latest
    steps:
      - name: Download wheel artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: wheels-*
          path: publish-dist
          merge-multiple: true

      - name: Download sdist artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: sdist
          path: publish-dist
          merge-multiple: true

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          password: ${{ secrets.PYPI_PASSWORD }}
          packages-dir: publish-dist

