name: Python Package

on:
  release:
    branches:
      - main

jobs:
  build-wheels:
    name: Build wheels for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-13
          - macos-14

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Setup Python
        uses: actions/setup-python@v4

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.16.5

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse bindings/python
        env:
          CIBW_ARCHS_LINUX: x86_64 i686 aarch64
          # musllinux uses apk & manylinux uses yum
          CIBW_BEFORE_BUILD_LINUX: |
            if command -v apk > /dev/null; then
              apk add --update clang && make -C src c_kzg_4844.o
            elif command -v yum > /dev/null; then
              yum install -y clang && make -C src c_kzg_4844.o
            fi
          CIBW_BEFORE_BUILD_WINDOWS: |
            make -C src c_kzg_4844.o
          CIBW_BEFORE_BUILD_MACOS: |
            make -C src c_kzg_4844.o

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_PASSWORD }}
          packages-dir: bindings/python/wheelhouse
