name: Repo
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  whitespace:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Check for trailing whitespace
        run: |
          if git grep -I -n '[[:blank:]]$' -- ':!tests/**'; then
            echo "Trailing whitespace found. Please fix it."
            exit 1
          fi
