name: Repo
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    shell: bash

jobs:
  whitespace:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Check for trailing whitespace
        run: |
          if git grep -I -n '[[:blank:]]$' -- ':!tests/**'; then
            echo "Trailing whitespace found. Please fix it."
            exit 1
          fi
