name: Spec Consistency
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.x'

      # Check that our trusted setup matches the one from the spec
      - name: Download Trusted Setup
        run: wget -O trusted_setup.json https://github.com/ethereum/consensus-specs/raw/dev/presets/mainnet/trusted_setups/trusted_setup_4096.json
      - name: Convert Trusted Setup
        run: python3 ./scripts/convert_trusted_setup.py --input trusted_setup.json --output trusted_setup.txt
      - name: Compare Trusted Setup
        run: cmp src/trusted_setup.txt trusted_setup.txt

      # Check that our tests match the reference tests from the spec
      - name: Compare Tests
        run: python3 ./scripts/do_tests_match_ref_tests.py
