name: Spec Consistency
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.x'

      # Check that our trusted setup matches the one from the spec
      - name: Download Trusted Setup
        run: wget -O trusted_setup.json https://github.com/ethereum/consensus-specs/raw/master/presets/mainnet/trusted_setups/trusted_setup_4096.json
      - name: Convert Trusted Setup
        run: python3 ./scripts/convert_trusted_setup.py --input trusted_setup.json --output trusted_setup.txt
      - name: Compare Trusted Setup
        run: cmp src/trusted_setup.txt trusted_setup.txt

      # Check that our tests match the reference tests from the spec
      - name: Compare Tests
        run: python3 ./scripts/do_tests_match_ref_tests.py
